body {
    font-family: Chevin;
}

/* Insert custom styles here */

#root {
    width: 100%;
}

.page {
    max-width: 688px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)
}

.header h1 {
    font-size: 30px;
    line-height: 34px;
    color: #323232;
    margin-top: 50px;
    margin-bottom: 30px;
}


/* <--  Accordion --> */

.accordion__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 20px;
}

.accordion__info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
}

.accordion__info-container:after, .accordion__info-container:before {
	bottom: -1px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.accordion__info-container:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #eee;
	border-width: 10px;
    margin-left: -10px;
}

.accordion__info-container:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, 0.15);
	border-width: 11px;
    margin-left: -11px;
}

.accordion__item--active .accordion__info-container:after, .accordion__item--active .accordion__info-container:before {
    opacity: 1;
}

.accordion__info {
    flex-direction: column;
}

.accordion__chevron {
    align-self: center;
    width: 28px;
    height: 28px;
    margin-left: 12px;
    margin-right: 12px;
    transition: transform 0.2s ease-in-out;
}

.accordion__item--active .accordion__chevron {
    transform: rotate(180deg)
}

.accordion__title {
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}

.accordion__description {
    font-size: 16px;
    line-height: 20px;
    color: #6e6e6e;
}

.accordion__content {
    background: #fafafa;
    padding: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 4px 5px -3px rgba(0,0,0,0.1);
    position: relative;
}

.accordion__content-container {
    transition: height 0.2s ease-in-out;
    height: 0;
    overflow: hidden;
}

.accordion__item--active .accordion__title, .accordion__item--active .accordion__description {
    color: #ff6a10;
}

.accordion__sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
    margin-bottom: 20px;
}

.accordion__divider {
    margin-top: 32px;
    margin-bottom: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.accordion__label {
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    padding: 8px 0;
}

.accordion__value {
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    padding: 6px 0;
}

.accordion__row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.accordion__row * {
    flex: 1;
    width: 0;
}

/* <-- Responsive --> */

@media only screen and (max-width: 768px) {
    .page {
        max-width: 100%;
        margin: 0 40px;
    }
}


@media only screen and (max-width: 320px) {
    .page {
        max-width: 100%;
        margin: 0 16px;
    }

    .accordion__chevron {
        margin-right: 0;
    }

    .accordion__content {
        padding: 32px 20px;
    }

    .accordion__label {
        padding: 0;
    }
    
    .accordion__value {
        padding: 0;
    }

    .accordion__row {
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 16px;
    }

    .accordion__row:last-of-type {
        margin-bottom: 0;
    }

    .accordion__row * {
        flex: 0;
        width: auto;
    }
}
